body, p, a, span, h1, h2, h3, button, div {
    font-family: Verdana, 'Microsoft JhengHei', 'PingFang', sans-serif !important;
}
html {
    position: relative;
    height: 100%;
    width: 100%;
}
body {
    position: fixed;
    z-index: -100;
    height: 100%;
    width: 100%;
    background-color: #1a73e8;
}
div.spot {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
}
div.spot > div {
    position: absolute;
    background-color: white;
    opacity: 0.2;
    border-radius: 50%;
}
div.spot > #s1 {
    height: 10vmin;
    width: 10vmin;
    animation: spot1 30s linear infinite;
}
div.spot > #s2 {
    height: 15vmin;
    width: 15vmin;
    animation: spot2 30s linear infinite;
}
div.spot > #s3 {
    height: 10vmin;
    width: 10vmin;
    animation: spot3 30s linear infinite;
}
@keyframes spot1 {
    0% {
        left: 70vw;
        top: 20vh;
        opacity: 0.3;
    }
    18% {
        left: 50vw;
        top: 30vh;
        opacity: 0.22;
    }
    42% {
        left: 30vw;
        top: 40vh;
        opacity: 0.18;
    }
    52% {
        left: 20vw;
        top: 30vh;
        opacity: 0.15;
    }
    79% {
        left: 60vw;
        top: 50vh;
        opacity: 0.2;
    }
    100% {
        left: 70vw;
        top: 20vh;
        opacity: 0.3;
    }
}
@keyframes spot2 {
    0% {
        left: 60vw;
        top: 60vh;
        opacity: 0.16;
    }
    21% {
        left: 40vw;
        top: 30vh;
        opacity: 0.12;
    }
    39% {
        left: 20vw;
        top: 0vh;
        opacity: 0.18;
    }
    60% {
        left: 40vw;
        top: 60vh;
        opacity: 0.2;
    }
    82% {
        left: 50vw;
        top: 40vh;
        opacity: 0.18;
    }
    100% {
        left: 60vw;
        top: 60vh;
        opacity: 0.16;
    }
}
@keyframes spot3 {
    0% {
        left: 30vw;
        top: 70vh;
        opacity: 0.2;
    }
    16% {
        left: 50vw;
        top: 60vh;
        opacity: 0.25;
    }
    32% {
        left: 70vw;
        top: 50vh;
        opacity: 0.17;
    }
    45% {
        left: 80vw;
        top: 70vh;
        opacity: 0.22;
    }
    75% {
        left: 50vw;
        top: 50vh;
        opacity: 0.18;
    }
    100% {
        left: 30vw;
        top: 70vh;
        opacity: 0.2;
    }
}
div.main {
    position: absolute;
    z-index: 1;
    top: calc(50% - 10vmin);
    left: calc(50% - 10vmin);
    height: 20vmin;
    width: 20vmin;
    text-align: center;
    color: white;
}
div.main > h1 {
    position: relative;
    display: inline-block;
    text-align: center;
}
